.title-galery{
    display: flex;
    justify-content: center;
    font-size: 500%;
    margin-top: 10%;
}
.desc-galery{
    display: flex;
    justify-content: center;
}
.desc-galery input{
    font-size: 200%;
    font-family: "Honk" , system-ui;
}
.desc-galery button{
    font-size: 200%;
    font-family: "Honk" , system-ui;
    transition: 0.3s;
}
.desc-galery button:hover{
    background-color: rgb(155, 103, 103);
}